/*------------------------------------------------------------------------------
 *    Import Elements
-------------------------------------------------------------------------------*/
@theme                          "config.rasi"




/*------------------------------------------------------------------------------
 *    Configuration
-------------------------------------------------------------------------------*/

configuration {
    show-icons:                 false;
}
