* {
    font:               "JetBrains Mono Nerd Font 9";
    background:         #282C34FF;
    background-alt:     #21252BFF;
    foreground:         #ABB2BFFF;
    blue:               #61AFEFFF;
    orange:             #D19A66FF;
    green:              #98C379FF;
    red:                #E06C75FF;
    aqua:               #56B6C2FF;
}

